
.container{
    width: 100%;
    font-size: 40px;
    background-color: lightgray;
    display: grid;

}

.d1{
    background-color: lightblue ;
}
.d2{
    background-color: lightcoral ;
}
.d3{
    background-color: lightcyan ;
}
.d4{
    background-color: lightsalmon ;
}
.d5{
    background-color: lightgreen ;
}
